<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="launch">
        <h1>Welcome to User Dashboard!</h1>
        <div></div>
        <div>
            <a class="btn" href="/createuser">Launch Dashboard</a>
        </div>
        
    </div>
</body>
</html>